.contact {
  padding: 62px 0 82px;
  background: $color-bg;
}

.contact__cols {
  @include cols(2, 91px);
}

.contact__content {
  max-width: 528px;
}

.contact__title {
  margin-bottom: 17px;
}

.contact__text {
  margin-bottom: 33px;
}

.contact__links {
  display: flex;
  flex-direction: column;
  gap: 19px;
  @include font(2.5rem, 2.6rem, normal, $color-text);
}

.contact__form {
  flex-basis: 577px;
}
