.ico {
  cursor: pointer;
  @extend %transition;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;

  &_violet {
    background: $color-violet;
  }
  &_yellow {
    background: $color-yellow;
  }
  &_red {
    background: $color-red;
  }
  &_blue {
    background: $color-blue;
  }
}

.ico_play {
  background: url('../img/icons/play.svg') no-repeat;
  width: 18px;
  height: 19px;
}

.ico_arrow {
  background: url('../img/icons/arrow.svg') no-repeat;
  width: 12px;
  height: 17px;
}

.ico_snake {
  background: url('../img/icons/snake.svg') no-repeat;
  width: 18px;
  height: 14px;
}

.ico_heart {
  background: url('../img/icons/heart.svg') no-repeat;
  width: 17px;
  height: 15px;
}

.ico_clock {
  background: url('../img/icons/clock.svg') no-repeat;
  width: 15px;
  height: 17px;
}
