.promo {
  padding: 29px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
}

.promo__content {
  padding-top: 83px;
  padding-right: 66px;
}

.promo__title {
  margin-bottom: 30px;
}

.promo__text {
  max-width: 487px;
  margin-bottom: 56px;
  @extend %font-add;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.promo__buttons {
  display: flex;
  align-items: center;
  gap: 44px;

  .button {
    min-width: 174px;
    min-height: 53px;
    font-weight: 700;
  }
}
