.tools__wrapper {
  padding-top: 82px;
  padding-bottom: 90px;
  background: url('../img/tools/tools-bg.svg') no-repeat center bottom;
  background-size: 103%;

  @include media-lap {
    padding-top: 78px;
    padding-bottom: 53px;
  }
}

.tools__title {
  max-width: 462px;
  margin: 0 auto 70px;
  text-align: center;

  @include media-lap {
    margin-bottom: 51px;
  }
}

.tools__container {
  @include cols(4, 50px);
  margin-bottom: 60px;

  @include media-lap {
    @include cols(2, 76px);
    justify-content: center;
    row-gap: 54px;
    margin-bottom: 54px;
  }

  @include media-tab {
    justify-content: flex-start;
  }
}

.tools__button {
  text-align: center;

  .button {
    min-width: 170px;
    min-height: 53px;
  }
}

// Tool block

.tool {
  @include media-lap {
    flex-basis: 270px;
    text-align: center;
  }
}

.tool__icon {
  margin-bottom: 30px;

  @include media-lap {
    margin-bottom: 20px;
  }
}

.tool__title {
  margin-bottom: 16px;

  @include media-lap {
    margin-bottom: 6px;
  }
}
