.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin-bottom: 14px;
}

.strategies__text {
  margin-bottom: 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}

.strategies__container {
  @include cols(3, 34px);
  row-gap: 31px;
}

// Strategy block

.strategy {
  border-radius: 8px;
  @extend %shadow;
}

.strategy__img {
  width: 100%;

  &_wide {
    width: auto;
  }
}

.strategy__content {
  padding: 24px 34px 26px;
}

.strategy__title {
  margin-bottom: 30px;
}

.strategy__tags {
  gap: 9px;
}
